html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100% !important;
    overflow-x: hidden !important;
    background-image: url('/images/home-futbol-fondo.png') !important;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
}


/* Estilos adicionales */

.carousel-item img {
    max-height: 500px; /* Ajusta la altura máxima de las imágenes */
    object-fit: cover; /* Ajusta el método de ajuste de la imagen */
}

h1 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #D8F1BF;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    font-weight: bold;
}

.footer {
    text-align: center;
    background-color: #162A02;
    opacity: 100%;
}

.whatsapp-link {
    font-family: 'Nunito', sans-serif; 
    font-weight: bold; 
    color: #000; /* Cambia el color del texto si es necesario */

}

nav.navbar.navbar-light {
    background-color: #6E835A !important;
}

nav.navbar.navbar-brand {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.admin-background {
    background-color: rgba(255, 255, 255, 0.8); /* Color de fondo con transparencia */
    padding: 20px; /* Espacio interno alrededor del contenido */
    border-radius: 10px; /* Bordes redondeados para el contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h2 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #5D7349;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    font-weight: bold;
}