@model ALQANCHA.Models.Sancion

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="admin-background">
        <h2>Asignar Nuava Sanción a un Jugador</h2>
        <h3>Jugador</h3>
        <hr />
        <div class="row">
            <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JugadorId" class="control-label"></label>
                <select asp-for="JugadorId" class ="form-control" asp-items="ViewBag.JugadorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaImposicion" class="control-label"></label>
                <input asp-for="FechaImposicion" class="form-control" />
                <span asp-validation-for="FechaImposicion" class="text-danger"></span>
            </div>
                    <div class="form-group mt-3 d-flex justify-content-end">
                        <input type="submit" value="Create" class="btn btn-primary me-2" />
                        <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
